# LIME

In this notebook we will learn to use *LIME*, a standard technique of explainable AI (XAI).

https://github.com/marcotcr/lime

For the exercise, we use the Titanic dataset, containing information about people on the Titanic, where the ground-truth describe wheter the passenger survived or not.

In [1]:
import lime
import lime.lime_tabular

import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

#load training and testing data
df_train = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
df_test = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/eval.csv")
df = pd.concat([df_train, df_test])
df['partition'] = [0] * len(df_train) + [1] * len(df_test)

In [2]:
df.shape

(891, 11)

In [3]:
df.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone,partition
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n,0
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n,0
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y,0
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n,0
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y,0

# EXERCICES

First, we need to convert categorical features to numerical. 
See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html

There are different approaches to transform data. The `get dummies' is fine as long as you are consistent between your training and testing data

In [4]:
#solution

Separate (for training and testing) $<X, y>$.

In [5]:
#solution

Then, define an appropriate GridSearchCV for a random forest. 
You are free to choose the hyper-parameters you prefer.

In [6]:
#solution

Train the model. Then, print the f1 score for both training and testing sets.

In [7]:
#solution

Print the best hyper parameters

In [8]:
#solution

check the LIME documentation (and examples), and define the LIME instance

In [9]:
#solution

Explain a single testing sample. Then, play a bit and try to understand reasons behind model's decision.

In [10]:
#solutions

In [11]:
#solutions

In [12]:
#solutions